<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../assets/home.css">
</head>

<body>

    <div class="sidebar">

        <div class="sidebar-title">
            <p>Services</p>
        </div>
        <div class="services">

            <div class="serv-elem">
                <img src="../assets/img/container.jpg" alt="conatiners">
                <div class="serv-elem-text">
                    <div class="service-title">
                        <p>Container</p>
                    </div>

                    <div class="description">
                        <p>Access to our containers</p>
                    </div>
                </div>

            </div>
            <div class="serv-elem">
                <img src="../assets/img/rss-icon.svg" alt="rss">
                <div class="serv-elem-text">
                    <div class="service-title">
                        <p>RSS</p>
                    </div>

                    <div class="description">
                        <p>View RSS feeds</p>
                    </div>
                </div>

            </div>

        </div>
        <div>

        </div>

    </div>

    <div class="main">

        <div class="top-bar">
            <input id="search" autocomplete="off" type="search" placeholder="Search for docker containers">
            <div class="filters">
                <p>Filter by</p>
                <div class="run-btn active">
                    Running
                </div>
                <div class="all-btn">
                    All
                </div>
            </div>
        </div>
        <div class="content">

            <div class="container-card">
                <div class="left-image">
                    <img src="../assets/img/container.svg" width="70%" loading="lazy">
                </div>
                <div class=" container-card-body ">
                    <div class="container-name ">
                        <p>Heelo Wold</p>
                    </div>
                    <div class="container-image-name ">
                        <p>Docker/app/hello</p>
                    </div>
                    <div class="container-info ">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, saepe.</p>
                    </div>
                    <div class="container-card-footer ">
                        <ul class="ports ">
                            <li>
                                <a href="# " target="_blank ">
                                    <p>25603</p>
                                </a>

                            </li>
                            <li>
                                <a href=" " target="_blank ">
                                    <p>25603</p>
                                </a>
                            </li>
                            <li>
                                <a href=" " target="_blank ">
                                    <p>25603</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="container-card ">
                <div class="left-image ">
                    <img src="../assets/img/container.svg " width="70% ">
                </div>
                <div class="container-card-body ">
                    <div class="container-name ">
                        <p>Heelo Wold</p>
                    </div>
                    <div class="container-image-name ">
                        <p>Docker/app/hello</p>
                    </div>
                    <div class="container-info ">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, saepe.</p>
                    </div>
                    <div class="container-card-footer ">
                        <ul class="ports ">
                            <li>
                                <p>25603</p>
                            </li>
                            <li>
                                <p>25603</p>
                            </li>
                            <li>
                                <p>25603</p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="container-card ">
                <div class="left-image ">
                    <img src="../assets/img/container.svg " width="70% ">
                </div>
                <div class="container-card-body ">
                    <div class="container-name ">
                        <p>Heelo Wold</p>
                    </div>
                    <div class="container-image-name ">
                        <p>Docker/app/hello</p>
                    </div>
                    <div class="container-info ">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, saepe.</p>
                    </div>
                    <div class="container-card-footer ">
                        <ul class="ports ">
                            <li>
                                <p>25603</p>
                            </li>
                            <li>
                                <p>25603</p>
                            </li>
                            <li>
                                <p>25603</p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="container-card ">
                <div class="left-image ">
                    <img src="../assets/img/container.svg " width="70% ">
                </div>
                <div class="container-card-body ">
                    <div class="container-name ">
                        <p>Heelo Wold</p>
                    </div>
                    <div class="container-image-name ">
                        <p>Docker/app/hello</p>
                    </div>
                    <div class="container-info ">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, saepe.</p>
                    </div>
                    <div class="container-card-footer ">
                        <ul class="ports ">
                            <li>
                                <p>25603</p>
                            </li>
                            <li>
                                <p>25603</p>
                            </li>
                            <li>
                                <p>25603</p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="container-card ">
                <div class="left-image ">
                    <img src="../assets/img/container.svg " width="70% ">
                </div>
                <div class="container-card-body ">
                    <div class="container-name ">
                        <p>Heelo Wold</p>
                    </div>
                    <div class="container-image-name ">
                        <p>Docker/app/hello</p>
                    </div>
                    <div class="container-info ">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, saepe.</p>
                    </div>
                    <div class="container-card-footer ">
                        <ul class="ports ">
                            <li>
                                <p>25603</p>
                            </li>
                            <li>
                                <p>25603</p>
                            </li>
                            <li>
                                <p>25603</p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js "></script>
    <script>
        $('.all-btn').on('click', function() {
            $(this).toggleClass('active');
            $('.run-btn').toggleClass('active')
        });

        $('.run-btn').on('click', function() {
            $(this).toggleClass('active');
            $('.all-btn').toggleClass('active')
        });

        function getRandomColor() {
            var colors = [
                "#3AB2E4 ",
                "#D13D19 ",
                "#1E2326 ",
                "#D42915 ",
                "#6FAE39 ",

            ]

            const random = Math.floor(Math.random() * colors.length);


            return colors[random];
        }


        var cards = document.getElementsByClassName("left-image ");
        for (i = 0; i < cards.length; i++) {
            cards[i].style.backgroundColor = getRandomColor();
        }
    </script>
</body>

</html>